<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png"/>
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
</head>


<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <div class="brand-logo d-flex align-items-center justify-content-between mb-3 pt-2">
                <a th:href="@{/posts}" class="text-nowrap logo-img">
                    <img src="/assets/images/logos/logo-almaty.png" width="180" alt="logo almaty"/>
                </a>
                <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                    <i class="ti ti-x fs-8"></i>
                </div>
            </div>
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li sec:authorize="isAuthenticated()" class="sidebar-item pb-3 text-truncate">
                        <span sec:authentication="name"></span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/posts}" aria-expanded="false">
                <span>
                  <i class="ti ti-building-cottage"></i>
                </span>
                            <span class="hide-menu">Доступные фермы</span>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="sidebar-item">
                        <a sec:authorize="!isAuthenticated()" class="sidebar-link" th:href="@{/login}" aria-expanded="false">
                        <span>
                          <i class="ti ti-login"></i>
                        </span>
                            <span class="hide-menu">Войти</span>
                        </a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/register}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                            <span class="hide-menu">Регистрация</span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="sidebar-item">
                        <a class="sidebar-link" th:href="@{/regions}" aria-expanded="false">
                        <span>
                          <i class="ti ti-map-2"></i>
                        </span>
                            <span class="hide-menu">Регионы</span>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>

    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        <header class="app-header">
            <nav class="navbar navbar-expand-lg navbar-light">
                <ul class="navbar-nav">
                    <li class="nav-item d-block d-xl-none">
                        <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>

                </ul>
                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                    <ul sec:authorize="isAuthenticated()" class="d-flex navbar-nav flex-row ms-auto align-items-center justify-content-end">

                        <a th:href="${currentURI == '/posts/create'} ? ${currentURI} : @{/posts/new}"
                           class="btn btn-primary">Добавить ферму</a>

                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" th:href="@{/logout}">
                                <i class="ti ti-logout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--  Header End -->

        <!--  Content Start -->
        <div layout:fragment="body"></div>
        <!--  Content End -->

        <!--  Footer Start -->
        <footer class="py-6 px-6 text-center">
            <p class="mb-0 fs-4">Developed by <a href="https://github.com/vladChaplin" target="_blank"
                                                 class="pe-1 text-primary text-decoration-underline">Vladislav
                Chaplin</a></p>
        </footer>
        <!--  Footer End -->
    </div>
</div>
</body>

<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/assets/js/dashboard.js"></script>
</html>