<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <title>Изменить ферму - Алматинская область</title>
</head>

<body>
<div layout:fragment="body" class="container-fluid">

  <h5 class="card-title fw-semibold mb-4">Измените данные о ферме</h5>
  <div class="card">
    <div class="card-body">
      <form role="form" method="post" enctype="multipart/form-data" th:action="@{/posts/{postId}/edit(postId=${post.id})}" th:object="${post}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{photoUrl}">
        <input type="hidden" th:field="*{createdOn}">
        <div class="mb-3">
          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" role="alert"></div>
          <label for="title" class="form-label">Название фермы</label>
          <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:field="*{title}"
                  aria-describedby="titleHelp"
                  >
          <div id="titleHelp" class="form-text">Введите подробное название фермы, пример: ООО Ферма
            Алма
          </div>
        </div>
        <div class="mb-3">
          <div class="card p-0 mb-3">
            <div class="row g-0">
              <div class="col-md-4 position-relative" id="imageContainer">
                <img id="frame" th:src="${post.photoUrl}" class="img-fluid rounded h-100" alt="Текущее изображение фермы">
                <button type="button" class="btn-close bg-danger position-absolute top-0 end-0" onclick="clearImage()" aria-label="Close"></button>
              </div>
              <div class="col-md-8 card-body">
                <input
                        class="form-control"
                        type="file"
                        id="photoFile"
                        name="photoFile"
                        accept="image/*"
                        onchange="inputImageOnForm()"
                        placeholder="Выберите файл"
                >
              </div>
            </div>
          </div>

        </div>

        <script>
          function inputImageOnForm() {
            preview()
            checkFileSize()
          }

          function preview() {
            const fileInput = document.getElementById('photoFile');
            const frame = document.getElementById('frame');
            frame.src = URL.createObjectURL(fileInput.files[0]);
            document.getElementById('imageContainer').style.display = 'block';
          }
          function clearImage() {
            const fileInput = document.getElementById('photoFile');
            const frame = document.getElementById('frame');
            const imageContainer = document.getElementById('imageContainer');

            fileInput.value = null;
            frame.src = "";
            imageContainer.style.display = 'none';
          }

          function checkFileSize() {
            let fileInput = document.getElementById('photoFile');
            // if (fileInput.files[0].size > 2097152) { // 2 MB
            if (fileInput.files[0].size > 1000) { // 2 MB
              alert('File size exceeds 2 MB');
              fileInput.value = "";
            }
          }
        </script>


        <div class="mb-3">
          <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" role="alert"></div>
          <label for="address" class="form-label">Адрес</label>
          <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  th:field="*{address}"
                  aria-describedby="addressHelp"
                  >
          <div id="addressHelp" class="form-text">Введите полный адрес, где находится ферма</div>
        </div>
        <div class="mb-3">
          <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger" role="alert"></div>
          <label for="content" class="form-label">Подробная информация</label>
          <textarea
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                  th:field="*{content}"
                  rows="3"
                  maxlength="350"
                  aria-describedby="infoHelp"
                  >
                            </textarea>
          <div id="infoHelp" class="form-text">Опишите ферму, что из урожая есть, овощи, фрукты и
            т.п.
          </div>
        </div>
        <button type="submit" class="btn btn-success">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span>Применить</span>
        </button>
      </form>
    </div>
  </div>
</div>
</body>

</html>
