<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Добавь новую ферму - Алматинская область</title>
</head>

<body>
    <div layout:fragment="body" class="container-fluid">

    <h5 class="card-title fw-semibold mb-4">Для добавления фермы заполните данные</h5>
    <div class="card">
        <div class="card-body">
            <form role="form" enctype="multipart/form-data" method="post" th:action="@{/posts/new}" th:object="${post}">
                <div class="mb-3">
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" role="alert"></div>
                    <label for="title" class="form-label">Название фермы</label>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            th:field="*{title}"
                            aria-describedby="titleHelp"
                            >
                    <div id="titleHelp" class="form-text">Введите подробное название фермы, пример: ООО Ферма
                        Алма
                    </div>
                </div>
                <div class="mb-3">
                    <label for="photoFile" class="form-label">Выберите фотографию фермы</label>
                    <input
                            class="form-control"
                            type="file"
                            id="photoFile"
                            name="photoFile"
                            th:field="*{photoFile}"
                            accept="image/*"
                            required>
                </div>
                <div class="mb-3">
                    <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" role="alert"></div>
                    <label for="address" class="form-label">Адрес</label>
                    <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            th:field="*{address}"
                            aria-describedby="addressHelp"
                            >
                    <div id="addressHelp" class="form-text">Введите полный адрес, где находится ферма</div>
                </div>
                <div class="mb-3">
                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger" role="alert"></div>
                    <label for="content" class="form-label">Подробная информация</label>
                    <textarea
                            type="text"
                            class="form-control"
                            id="content"
                            name="content"
                            th:field="*{content}"
                            rows="3"
                            maxlength="350"
                            aria-describedby="infoHelp"
                            >
                            </textarea>
                    <div id="infoHelp" class="form-text">Опишите ферму, что из урожая есть, овощи, фрукты и
                        т.п.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Опубликовать</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>
