<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Фермы - Алматинская область</title>
</head>

<body>
    <div class="container-fluid" layout:fragment="body">

    <div class="row">

        <div th:if="${param.success}" class="alert alert-success mb-3" role="alert">
            Вы успешно зарегистрировались! Теперь можете создать новое объявление о ферме
        </div>

        <div class="p-0">
            <form th:action="@{/posts/search}" class="form-inline">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-info p-0" type="submit" style="min-width: 42px">
                        <i class="ti ti-search"></i>
                    </button>
                    <input name="title" type="search" class="form-control" placeholder="Начните поиск ферм по названию" aria-label="Search" aria-describedby="basic-addon1">
                </div>
            </form>
        </div>

        <div class="p-2 mb-4 rounded bg-dark">
            <h3 class="fw-semibold text-white text-center">Во всех регионах</h3>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title fw-semibold mb-4">Фермы на которых имеется урожай</h3>
                <div th:each="post :${posts}" class="row">
                    <div class="card p-0 mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                        th:src="${post.getPhotoUrl()}"
                                        class="img-fluid rounded h-100"
                                        alt="Изображение фермы">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><span th:text="${post.getTitle()}"></span></h5>
                                    <p class="card-text">Адрес: <span th:text="${post.getAddress()}"></span></p>
                                    <p class="card-text">Инфо: <span th:text="${post.getContent()}"></span></p>
                                    <div class="d-grid gap-3 d-md-flex justify-content-md-start">
                                        <a th:href="@{/posts/{postId}(postId=${post.id})}" class="btn btn-success">Подробнее</a>
                                        <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${user?.id == post?.createdBy?.id}"
                                             class="d-grid gap-3 d-md-flex justify-content-md-start">
                                            <a th:href="@{/posts/{postId}/edit(postId=${post.id})}" class="btn btn-info">Изменить</a>
                                            <a th:href="@{/posts/{postId}/delete(postId=${post.id})}" class="btn btn-danger"
                                               onclick="return confirm('Вы уверены, что хотите удалить эту запись о ферме?')"
                                            >Удалить</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
