<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <title>Изменить ферму - Алматинская область</title>
</head>

<body>
<div layout:fragment="body" class="container-fluid">

  <h5 class="card-title fw-semibold mb-4">Измените данные о ферме</h5>
  <div class="card">
    <div class="card-body">
      <form id="formUpdatePost" role="form" method="post" enctype="multipart/form-data" th:action="@{/posts/{postId}/edit(postId=${post.id})}" th:object="${post}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{photoUrl}">
        <input type="hidden" th:field="*{createdOn}">
        <div class="mb-3">
          <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" role="alert"></div>
          <label for="title" class="form-label">Название фермы</label>
          <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:field="*{title}"
                  aria-describedby="titleHelp"
                  >
          <div id="titleHelp" class="form-text">Введите подробное название фермы, пример: ООО Ферма
            Алма
          </div>
        </div>
        <div class="mb-3">
          <div class="card p-0 mb-3">
            <div class="row g-0">
              <div class="col-md-4 position-relative" id="imageContainer">
                <img id="frame" th:src="${post.photoUrl}" class="img-fluid rounded h-100" alt="Текущее изображение фермы">
                <button type="button" class="btn-close bg-danger position-absolute top-0 end-0" onclick="clearImage()" aria-label="Close"></button>
              </div>
              <div class="col-md-8 card-body d-flex flex-column align-items-start justify-content-center">
                <label for="photoFile" class="form-label">Для замены фотографии выберите новое</label>
                <input
                        class="form-control"
                        type="file"
                        id="photoFile"
                        name="photoFile"
                        accept="image/*"
                        th:field="*{photoFile}"
                        onchange="inputImageOnForm()"
                        placeholder="Выбрать фото"
                >
              </div>
            </div>
          </div>

        </div>

        <div class="mb-3">
          <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" role="alert"></div>
          <label for="address" class="form-label">Адрес</label>
          <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  th:field="*{address}"
                  aria-describedby="addressHelp"
                  >
          <div id="addressHelp" class="form-text">Введите полный адрес, где находится ферма</div>
        </div>
        <div class="mb-3">
          <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger" role="alert"></div>
          <label for="content" class="form-label">Подробная информация</label>
          <textarea
                  type="text"
                  class="form-control"
                  id="content"
                  name="content"
                  th:field="*{content}"
                  rows="3"
                  maxlength="350"
                  aria-describedby="infoHelp"
                  >
                            </textarea>
          <div id="infoHelp" class="form-text">Опишите ферму, что из урожая есть, овощи, фрукты и
            т.п.
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button id="submitBtn" type="submit" class="btn btn-success">
            <span id="spinner" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span id="buttonText">Применить</span>
          </button>
          <a th:href="@{/posts/{postId}/delete(postId=${post.id})}" class="btn btn-danger"
             onclick="return confirm('Вы уверены, что хотите удалить эту запись о ферме?')"
          >Удалить</a>
        </div>
      </form>
    </div>
  </div>
  <script src="/assets/js/form-edit-create-post.js"></script>
</div>
</body>

</html>
