<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Регионы</title>
</head>

<body>
<div layout:fragment="body" class="container-fluid">

    <h5 class="card-title fw-semibold mb-4">Регионы</h5>
    <div class="mb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th scope="col">Широта</th>
                <th scope="col">Долгота</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="region_row :${regions_list}">
            <tr>
                <th  scope="row" th:text="${region_row.id}"></th>
                <td th:text="${region_row.name}"></td>
                <td th:text="${region_row.latitude}"></td>
                <td th:text="${region_row.longitude}"></td>
                <td class="d-md-flex gap-3 justify-content-md-center">
                    <a th:href="@{/regions/{regionId}/edit(regionId=${region_row.id})}" class="btn btn-info">Изменить</a>
                    <a th:href="@{/regions/{regionId}/delete(regionId=${region_row.id})}" class="btn btn-danger"
                       onclick="return confirm('Вы уверены, что хотите удалить этот регион?')"
                    >Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card">
        <div th:if="${currentURI.contains('/edit')}" class="alert alert-warning mb-3" role="alert">
            Измените данные о регионе
        </div>
        <div class="card-body">
            <form id="formUpdatePost" role="form" method="post" th:action="${currentURI.contains('/edit')} ? @{/regions/{regionId}/edit(regionId = ${region.id})} : @{/regions/create}" th:object="${region}">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Название региона</label>
                    <input
                            type="text"
                            class="form-control"
                            id="name"
                            name="name"
                            th:field="*{name}"
                            aria-describedby="nameHelp"
                            required
                    >
                    <div id="nameHelp" class="form-text">Введите название нового региона
                    </div>
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Широта</label>
                    <input
                            type="text"
                            class="form-control"
                            id="latitude"
                            name="latitude"
                            th:field="*{latitude}"
                            aria-describedby="latitudeHelp"
                            required
                    >
                    <div id="latitudeHelp" class="form-text">Введите широту в формате 43.222014
                    </div>
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Долгота</label>
                    <input
                            type="text"
                            class="form-control"
                            id="longitude"
                            name="longitude"
                            th:field="*{longitude}"
                            aria-describedby="longitudeHelp"
                            required
                    >
                    <div id="longitudeHelp" class="form-text">Введите долготу в формате 76.8512485
                    </div>
                </div>
                <button id="submitBtn" type="submit" th:class="${currentURI.contains('/edit') ? 'btn btn-primary' : 'btn btn-success'}">
                    <span id="spinner" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span id="buttonText" th:text="${currentURI.contains('/edit')} ? 'Обновить' : 'Добавить'"></span>
                </button>
            </form>
        </div>
    </div>
    <script src="/assets/js/form-edit-create-post.js"></script>
</div>
</body>

</html>
