<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}" />
    <link rel="stylesheet" href="/assets/css/register.css">
    <title>Регистрация</title>
</head>


<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a th:href="@{/}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="/assets/images/logos/logo-almaty.png" width="180" alt="logo almaty" />
                            </a>
                            <p class="text-center">Создание аккаунта</p>
                            <div th:if="${param.fail}" class="alert alert-danger" role="alert">
                                Пользователь с таким e-mail адресом или с таким мобильным номером уже существует!
                            </div>
                            <form role="form" method="post" th:action="@{/register}" th:object="${user}">
                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Имя</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="firstName"
                                            aria-describedby="firstNameHelp"
                                            th:field="*{firstName}"
                                            required
                                    >
                                    <div th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}"
                                         class="alert alert-danger mt-3"
                                         role="alert"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="lastName"
                                            aria-describedby="lastNameHelp"
                                            th:field="*{lastName}"
                                            required
                                    >
                                    <div th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}"
                                         class="alert alert-danger mt-3"
                                         role="alert"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail адрес</label>
                                    <input
                                            type="email"
                                            class="form-control"
                                            id="email"
                                            aria-describedby="emailHelp"
                                            th:field="*{email}"
                                            required
                                    >
                                    <div th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}"
                                         class="alert alert-danger mt-3"
                                         role="alert"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="phoneNumber" class="form-label">Мобильный телефон</label>
                                    <input
                                            type="tel"
                                            class="form-control"
                                            id="phoneNumber"
                                            aria-describedby="phoneNumberHelp"
                                            th:field="*{phoneNumber}"
                                            required
                                    >
                                    <div th:if="${#fields.hasErrors('phoneNumber')}"
                                         th:errors="*{phoneNumber}"
                                         class="alert alert-danger mt-3"
                                         role="alert"></div>
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="form-label">Пароль</label>
                                    <p class="position-relative">
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="password"
                                                th:field="*{password}"
                                                required
                                        >
                                        <i class="ti ti-eye pass-eye" id="togglePassword"></i>
                                    </p>
                                    <div th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}"
                                         class="alert alert-danger mt-3"
                                         role="alert"></div>
                                </div>

                                <button th:href="@{/register}"
                                        type="submit"
                                        id="registrationBtn"
                                        class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                        onclick="preload('spinner', 'buttonText')">
                                    <span id="spinner" class="d-none spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span id="buttonText">Зарегистрироваться</span>
                                </button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Уже есть аккаунт?</p>
                                    <a class="text-primary fw-bold ms-2" th:href="@{/login}">Войти</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<script src="/assets/js/components/preloader.js"></script>
<script src="/assets/js/components/showPassword.js"></script>
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebarmenu.js"></script>
<script src="/assets/js/app.min.js"></script>
<script src="/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="/assets/js/dashboard.js"></script>
</html>